<div class="jumbotron">

  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">All Policy</h3>
          </div>
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Apolicy Namer</th>
                  <th>Holder Name</th>
                  <th>View</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let policy of allPolicy'>
                  <td>{{ policy.policyNumber }}</td>
                  <td> {{ policy.policyHolder.name }}</td>
                  <td>
                    <button class="btn btn-primary btn-sm" (click)="selectPolicy(policy)">Show details</button>
                  </td>
                  <td>
                    <button [routerLink]="['/editpolicy', policy.policyNumber]" class="btn btn-primary btn-sm"> Edit </button>
                  </td>
                  <td>
                    <button align="center" (click)="deletePolicy(policy.policyNumber)" type="button" class="btn btn-danger btn-sm pull-right">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="card text-center" *ngIf="selectedPolicy">
              <div class="card-header">
                Policy Number {{selectedPolicy.policyNumber}}
              </div>
              <div class="card-header">
                Holder Id    {{selectedPolicy.policyHolder.id}}
              </div>
              <div class="card-block">
                <p class="card-text">
                  Name:   {{selectedPolicy.policyHolder.name}}
                </p>
                <p class="card-text">
                  Age:   {{selectedPolicy.policyHolder.age}}
                </p>
                <p class="card-text">
                  Gender:   {{selectedPolicy.policyHolder.gender}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
