<div class="col-lg-5">
  <div class="well bs-component">
    <form #addPolicyForm="ngForm" (ngSubmit)="addPolicy(addPolicyForm.value)" class="form-horizontal">
      <fieldset>
        <legend>Add New Policy</legend>
        <div class="form-group">
          <label for="inputPolicyNumber" class="col-lg-3 control-label">Policy Number</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="policyNumber" placeholder="Policy Number" name="policyNumber" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="inputHolderId" class="col-lg-3 control-label">Holder Id</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="policyHolder_id" placeholder="Policy Holder Id" name="policyHolder_id" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="inputHolderName" class="col-lg-3 control-label">Name</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="policyHolder_name" placeholder="Holder Name" name="policyHolder_name" ngModel>
          </div>
        </div>

        <div class="form-group">
          <label for="inputHolderAge" class="col-lg-3 control-label">Age</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="policyHolder_age" placeholder="Holder Age" name="policyHolder_age" ngModel>
          </div>
        </div>

        <div class="form-group">
          <label for="inputHolderGender" class="col-lg-3 control-label">gender</label>
          <select  #selCombo class="form-control" id="policyHolder_gender" name="policyHolder_gender" required  ngModel>
            <option [ngValue] ="M" value=0>Male</option>
            <option [ngValue] ="F" value=1>Female</option>
          </select>
        </div>

        <div class="form-group">
          <div class="col-lg-8 col-lg-offset-3">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
